
.our-brand {
  padding-left: 0;
  & > h4 {
    color: $brand-primary;
    border-bottom: 1px solid $primary-color;
  }
  & > .brand-image {
    padding-bottom: 15px;
  }
}

.product-image {
  border-bottom: 1px solid $primary-color;
  & > img {
    width: 100%;
    max-height: 200px;
  }
}

.product {
  margin-bottom: 40px;
  // border: 1px solid $brand-primary;
  border: 1px solid #6F6D6D;
}

.product-name > h5{
  font-weight: bold;
  text-align: center;
}

.img > img{
  width: 100%;
}