
.page-title {
  padding: 10px 80px;
  background-color: #e9e9e9;
  margin-bottom: 40px;
  border-bottom: 1px solid #c0c0c0;
}

h1 {
  text-transform: uppercase;
  line-height: 40px;
  text-shadow: 0 0 1px rgba(0,0,0,0.01);
  color: lighten($brand-primary, 30%);
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
  font-size: 22px;
  color: $primary-color;
  // font-weight: bold;
  text-shadow: 1px 1px 1px lighten($primary-color, 15%);
}

.contact-name {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}

p > strong {
  color: black;
}